/*
.strip{
height: 30px;
    background: black;
    width: 100%;
    border: none;
}
.strip-small{
    height: 30px;
    width: 100%;
    color: white;
  padding-top: -10px;
    font-family: source-code-pro;
        font-size: xx-small;
margin-top: 8px;
}
.icons{


}
.strip-left{
    color: white;
}
.textmine{
text-decoration: underline;
    text-decoration-style: dotted;
}
.bg{

}
.links{
  height: 40px;
    width: 100%;
}
.logo{
    background: url(../img/logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    height: 40px
}
.site-title{
    font-size: large;
    font-family: zeyada;
    margin-top: 10px;
    font-weight: bolder;

}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
*/
#bg{
width: 100%;

filter: brightness(30%);
-webkit-filter: brightness(30%);
-moz-filter: brightness(30%);
-o-filter: brightness(30%);
-ms-filter: brightness(30%);
}
#header-container{
    height: 100%;
    overflow: hidden;
    width: 100%;

}
.first-items-hdr{


}
.hdr-nav{
    position: absolute;
    top: 10px;
    width: 100%;
}
.hd{
  color: white;
font-size: small;
    width:50px;
    border-right: 1px solid white;
    padding-right: 10px;


}
	#input-txt {
			width: 0;
			transition: width 1s ease-in;
		}

		#input-txt.active {
			width: 250px;
		}
.title{
    color: white;
    margin-left: 10%;
    text-decoration: underline;
    text-decoration-style: double;
}
.icon-set{
    color: white;
    margin-left: 30%;
}
.menu-links{


}
.menuitems{
     border-top: 2px solid white;
    cursor: pointer;
}
.shopping-cart{
    border: 1px solid white;
    background-color: white;
    width: 150px;
    height: 40px;
    color: black;
    padding-top: 6px;
}
.links{
    color: white;
    margin-top: 6px;
}
.ln{
    margin-right: 10px;
    cursor: pointer;
}
.ln:hover{
    width: 100px;
    height: 50px;
    background: white;
    color: black;
}
.three-modules{
    width: 10%;
    height: 30px;
}
