.strip{
height: 30px;
    background: black;
    width: 100%;
    border: none;
}
.strip-small{
    height: 30px;
    width: 100%;
    color: white;
  padding-top: -10px;
    font-family: source-code-pro;
        font-size: xx-small;
margin-top: 8px;
}
.icons{


}
.strip-left{
    color: white;
}
.textmine{
text-decoration: underline;
    text-decoration-style: dotted;
}
.bg{

}
.links{
  height: 40px;
    width: 100%;
}
.logo{
    background: url(../img/logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    height: 40px
}
.site-title{
    font-size: large;
    font-family: zeyada;
    margin-top: 10px;
    font-weight: bolder;

}
